extends layout

block content
  h1= title
  - var j=0
  each i,index in [[4000,"passat","seshasai"],[5000,"polo","surigadu"],[1000,"chalenger","suribabu"]]
    div(class ="container-fluid" id="index" onclick=`buy(${index})`)
         div(class="row") 
           div(class="col-sm-2") -- #{i[0]}
           div(class="col-sm-2") -- #{i[1]}
           div(class="col-sm-2") -- #{i[2]}
  script.
    function buy(al){   
      alert(`purchased item ${al}.`)
    } 